* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* @font-face {
  font-family: "Manjari-Regular";
  src: url("/assets/Manjari-Regular.ttf");
}

@font-face {
  font-family: "Kartika";
  src: url("assets/Kartika.ttf");
} */

body {
  font-family: "Monument Extended", sans-serif;
}

header {
  width: 100%;
  height: 20vh;
  background: url("/assets/header.jpg") no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

header > p {
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
}

main {
  width: 100%;
  height: max-content;
  background: url("assets/doctor.jpg") no-repeat center fixed rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-blend-mode: darken;
  padding: 30px;
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.938);
  font-weight: bold;
  line-height: 160%;
  position: relative;
}

h2 {
  margin: 20px auto;
}

.contact {
  font-family: sans-serif;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

a {
  text-decoration: none;
  color: wheat;
}

@media screen and (min-width: 1600px) {
  header {
    height: 20vh;
  }
  main {
    height: 80vh;
    text-align: center;
  }
}
